@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    @apply text-black antialiased;
}

.Toastify__toast-body {
    font-family: 'var(--font-poppins)', -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica',
    sans-serif;
}

.scaffold {
    width: calc(100vw - 17px);
}

@media screen and (min-width: 768px) {
    .scaffold {
        width: calc(100vw - 266px);
    }
}
